{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">

{% block content %}
<div class="fluid-container">

  <div class="p-3 jumbotron mx-auto" style="width: 50%;">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h1>Wellcome to Game {{ room_name }} you are {{ request.user }}</h1>


    <div id="TaskProgress" class="">
      <p>TaskProgress</p>
    </div>

    <div id="status" class="">
      <p>status</p>
    </div>

    <div id="PlayerInfo" class="">
      <p>PlayerInfo</p>
    </div>

    <div id="Tasks" class="">
      <p>Tasks</p>
    </div>

    <div id="Players" class="">
      <p>players</p>
    </div>


    <input class="form-group" id="chat-message-input" type="text" size="100"><br>
    <input class='btn btn-success'  id="chat-message-submit" type="button" value="Send">
    <input type="hidden" name="user" id="user" value="{{ request.user }}">

    {{ room_name|json_script:"room-name" }}
    <script>
        const gameID = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + gameID
            + '/'
        );

        chatSocket.onopen = function(e) {
          chatSocket.send(JSON.stringify({
              'role': 'initial',
              'user': '{{ request.user }}',
              'gameID': gameID
          }));
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            console.log(data);

            if (data.gameInfo.status == 'lobby') {
              document.querySelector('#status').innerHTML = '<p>game is currently in the lobby phase tasks and roles are yet to be determined</p> <input class="btn btn-success"  id="start" type="button" value="Start">';

              document.querySelector('#PlayerInfo').innerHTML = 'your role is yet to be determined';
              document.querySelector('#Tasks').innerHTML = 'tasks are yet to be determined';
              document.querySelector('#taskProgres').innerHTML = data.gameInfo.taskProgres;
            } else if (data.gameInfo.status == 'running') {
              document.querySelector('#status').innerHTML = '<p>the game has begun </p> <input class="btn btn-success"  id="meating" type="button" value="call a meating">';

              document.querySelector('#PlayerInfo').innerHTML =
              (
              '<p>Player Name:'+data.playerInfo.name+' Tag:'+data.playerInfo.tag+' aliveness:'+data.playerInfo.aliveness+' Role:'+data.playerInfo.role+'</p>'
              );
              document.querySelector('#Tasks').innerHTML = data.tasks;
              document.querySelector('#taskProgres').innerHTML = data.gameInfo.taskProgres;
            } else if (data.gameInfo.status == 'meating') {
              document.querySelector('#status').innerHTML =
              '<input class="form-group" id="person" type="text" ><br><input class="btn btn-success"  id="vote" type="button" value="Vote">';

              document.querySelector('#PlayerInfo').innerHTML =
              (
              '<p>Player Name:'+data.playerInfo.name+' Tag:'+data.playerInfo.tag+' aliveness:'+data.playerInfo.aliveness+' Role:'+data.playerInfo.role+'</p>'
              );
              document.querySelector('#Tasks').innerHTML = 'you cant do tasks rn';
              document.querySelector('#taskProgres').innerHTML = data.gameInfo.taskProgres;
            }

            if (data.playerInfo.role == 'imp') {
              document.querySelector('#Players').innerHTML = '<input class="form-group" id="person-kill" type="text" ><br><input class="btn btn-success"  id="kill" type="button" value="kill">';
            }

            if (data.role == 'players') {
              document.querySelector('#Players').innerHTML = data.players;
            }

        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#kill').onclick = function(e) {
          chatSocket.send(JSON.stringify({
              'role': 'start',
              'gameID': gameID
          }));
        };

        document.querySelector('#Start').onclick = function(e) {
          chatSocket.send(JSON.stringify({
              'role': 'start',
              'gameID': gameID
          }));
        };

        document.querySelector('#start').onclick = function(e) {
          chatSocket.send(JSON.stringify({
              'role': 'start',
              'gameID': gameID
          }));
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const messageInputUser = document.querySelector('#user');
            const user = messageInputUser.value;
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message, 'user': user
            }));
            messageInputDom.value = '';
        };
    </script>

  </div>





</div>
{% endblock %}
