{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">

{% block content %}
<div class="container">

  <div class="p-3 jumbotron mx-auto" >

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <h1>Wellcome to Game {{ room_name }} you are {{ request.user }}</h1>


    <div id="TaskProgress">
      <p>Error couldnt load TaskProgress</p>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div id="status" class="alert alert-primary">
          {% if start == 1 %}
            <p>Once there are enough players press start</p>
            <input class="form-group" id="tasknum" type="text" placeholder="How many tasks do you want">
            <input class="form-group" id="impnum" type="text" placeholder="How many imposters do you need">
            <input class="form-group" id="rogenum" type="text" placeholder="How many evil sceintists are there in the ranks">
            <a class="btn btn-success"  id="start" >Start</a>
          {% else %}
            <p>wait for the game to start</p>
          {% endif %}
        </div>


        <div id="Players" class="alert alert-primary">
          <p>Error couldnt load  players</p>
        </div>

      </div>
      <div class="col-sm-6">
        <div id="PlayerInfo">
          <p>Error loading PlayerInfo</p>
        </div>
      </div>


    </div>


  </div>

  <div id="Tasks" class="alert alert-primary">
    <p>Tasks</p>
  </div>

    {{ room_name|json_script:"room-name" }}
    <script>
        const gameID = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + gameID
            + '/'
        );

        chatSocket.onopen = function(e) {
          console.log('open');
          chatSocket.send(JSON.stringify({
              'role': 'initial',
              'user': '{{ request.user }}',
              'gameID': gameID
          }));
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            console.log(data);

            if (data.role == 'players') {
              console.log('players');
              getInfo();

            } else if (data.role == 'start') {
              console.log('start');
              getInfo();

            } else if (data.role == 'meating') {
              console.log('meating');
              getInfo();

            } else if (data.role == 'voted') {
              console.log('voted');
              getInfo();

            } else if (data.role == 'kill') {
              console.log('voted');
              if (data.result == 1) {
                document.querySelector('#Tasks').innerHTML += 'you kill a person';
              } else {
                document.querySelector('#Tasks').innerHTML += 'wrong tag nice try';
              }
            }

            if ('gameInfo' in data) {
              console.log('game info');

              // sets the progress bar status
              document.querySelector('#TaskProgress').innerHTML = (`
              <div class="alert alert-secondary">
                <h4>Task Progress bar</h4>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: ${data.gameInfo.taskProgres }%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              `);

              document.querySelector('#Players').innerHTML = (`
                <p>PLayers: ${data.gameInfo.players}</p>
              `);
              // this is going to be a lot

              if (data.gameInfo.status == 'lobby') {
                document.querySelector('#TaskProgress').innerHTML = (`
                <p>Wait for the game to start </p>`);
                //document.querySelector('#status').innerHTML = '<p>Once there are enough players press start</p><a class="btn btn-success"  id="start" onclick="startfunction()">Start</a>'

              } else if (data.gameInfo.status == 'running') {

                document.querySelector('#status').innerHTML = (`
                  <h5>Can you see a dead body? or is some one just acting a litle sus?  </h5>
                  <input class="btn btn-success" onclick="meatingfunction()"  id="meating" type="button" value="Call a meating">
                `);

              } else if (data.gameInfo.status == 'meating') {
                document.querySelector('#status').innerHTML =
                '<input class="form-group" id="person" type="text"><br><input class="btn btn-success" onclick="votefunction()" id="vote" type="button" value="Vote">';

                document.querySelector('#PlayerInfo').innerHTML =
                (`
                <div class="alert alert-primary">
                  <h4>Player Name:${data.playerInfo.name}</h4>
                  <p>Tag:${data.playerInfo.tag}</p>
                  <p>Role: Hidden for your privecy</p>
                </div>
                `);
              }
              // that was a lot
            }

            if ('playerInfo' in data) {
              console.log('player info');
              if (data.playerInfo.voted == 1) {
                document.querySelector('#status').innerHTML = '<p>you have voted</p>';
              };

              if (data.playerInfo.aliveness == 0) {

                document.querySelector('#PlayerInfo').innerHTML =
                (`
                <div class="alert alert-danger">
                  <h4>Player Name:${data.playerInfo.name}</h4>
                  <p>Tag:${data.playerInfo.tag}</p>
                  <p>Role: Ghost</p>
                  <p>You are DEAD</p>
                </div>
                `);

                document.querySelector('#status').innerHTML = (`
                  <h5>No meatings for you</h5>
                `);

              } else if (data.playerInfo.role == 'imp') {

                document.querySelector('#PlayerInfo').innerHTML =
                (`
                <div class="alert alert-warning">
                  <h4>Player Name:${data.playerInfo.name}</h4>
                  <p>Tag:${data.playerInfo.tag}</p>
                  <p>Role: Imposter</p>
                  <p>You are alive and ready to kill</p>
                </div>
                `);

              } else if (data.playerInfo.role == 'roge') {

                document.querySelector('#PlayerInfo').innerHTML =
                (`
                <div class="alert alert-warning">
                  <h4>Player Name:${data.playerInfo.name}</h4>
                  <p>Tag:${data.playerInfo.tag}</p>
                  <p>Role: Rogue Sceintist</p>
                  <p>You are alive and ready to steel</p>
                </div>
                `);

              } else {

                document.querySelector('#PlayerInfo').innerHTML =
                (`
                <div class="alert alert-success">
                  <h4>Player Name:${data.playerInfo.name}</h4>
                  <p>Tag:${data.playerInfo.tag}</p>
                  <p>Role: Inocent</p>
                  <p>You are alive for now</p>
                </div>
                `);

              }


              var tasks = ''
              for (const task in data.playerInfo.tasks) {
                tasks += (`
                  <h5>${data.playerInfo.tasks[task].name}</h5>
                  <p>Go to: ${data.playerInfo.tasks[task].location[data.playerInfo.tasks[task].doneness]}</p>
                  <input class="form-group" id="${data.playerInfo.tasks[task].id}" type="code">
                  <input class="btn btn-success" onclick="taskfunction('${data.playerInfo.tasks[task].id}')" id="task${data.playerInfo.tasks[task].id}" type="button" value="Submit">
                `)
              }

              document.querySelector('#Tasks').innerHTML = tasks;

              if (data.playerInfo.role == 'imp') {
                document.querySelector('#Tasks').innerHTML += (
                  '<input class="form-group" id="victem" type="text"><input class="form-group" id="victem-tag" type="text"><br><input class="btn btn-success" onclick="killfunction()" id="kill" type="button" value="kill">'
                )
              }
            }
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#start').onclick = function(e) {
          console.log('start clicked')

          const tasknumdom = document.querySelector('#tasknum');
          const tasknum = tasknumdom.value;
          const impnumdom = document.querySelector('#impnum');
          const impnum = impnumdom.value;
          const rogenumdom = document.querySelector('#rogenum');
          const rogenum = rogenumdom.value;

          chatSocket.send(JSON.stringify({
              'role': 'start',
              'user': '{{ request.user }}',
              'gameID': gameID,
              'rogenum': rogenum,
              'impnum': impnum,
              'tasknum': tasknum
          }));
        };


        function getInfo() {
          chatSocket.send(JSON.stringify({
              'role': 'getInfo',
              'user': '{{ request.user }}',
              'gameID': gameID
          }));
        }

        function meatingfunction() {
          console.log('meatingfunction clicked')
          chatSocket.send(JSON.stringify({
              'role': 'meating',
              'user': '{{ request.user }}',
              'gameID': gameID
          }));
        };

        function taskfunction(taskid) {
          console.log('taskfunction clicked')
          const codedom = document.querySelector(`#${taskid}`);
          const code = codedom.value;

          chatSocket.send(JSON.stringify({
              'role': 'taskcode',
              'user': '{{ request.user }}',
              'taskid': taskid,
              'code': code,
              'gameID': gameID
          }));
        };



        function killfunction() {

            const tagdom = document.querySelector('#victem-tag');
            const tag = tagdom.value;
            chatSocket.send(JSON.stringify({
                'tag': tag, 
                'user': '{{ request.user }}',
                'gameID': gameID,
                'role': 'kill'
            }));
        };

        function votefunction() {
            const messageInputDom = document.querySelector('#person');
            const person = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'person': person, 'user': '{{ request.user }}', 'gameID': gameID, 'role': 'vote'
            }));
            document.querySelector('#status').innerHTML = '<p>you have voted</p>';
        };
    </script>







</div>
{% endblock %}
